<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script language="javascript" type="text/javascript">
	function setClass(doc_id, classString) {
		var ele = document.getElementById(doc_id);
		ele.className = classString;
	}

	function hide(post_id) {
		setClass(post_id, "hide");
		setClass(post_id + "_btn", "button stack	show");
	}

	function show(post_id) {
		setClass(post_id, "show");
		setClass(post_id + "_btn", "button stack	hide");
	}
	</script>
</head>
<body>
	<div class="container">
	<div id="closed">
		{% for item in jobs %}
			<div class="button stack hide" id="{{ item.id }}_btn" onclick="show('{{ item.id }}')"> [{{ loop.index }}]
			</div>
		{% endfor %}
	</div>
	<div class="content">
		{% for item in jobs %}
			<div class="show" id="{{ item.id }}">
				<div class="stack">{{ loop.index }}.</div>
				<div class="button" onclick="hide('{{ item.id }}')">[hide]</div>
				<div class="post">
					<div><a href="{{ item.link }}">link</a></div>
					<div>{% autoescape false %}{{ item.content }}{% endautoescape %}</div>
				</div>
			</div>
		{% endfor %}
	</div>
	</div>
</body>
</html>